@media only screen and (min-width: 100px){
    body {
        background: rgb(140, 202, 237);
    }

    .behindform{
        height:800px;
        padding: 20px;
        background-color: rgb(140, 202, 237);
    }
    .create-game-form {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 600px;
        border: 2px solid #333;
        border-radius: 10px;
        padding: 20px;
        width: 500px;
        margin: 0 auto;
        margin-top: 30px;
      }
      
      .create-game-form h1 {
        margin-bottom: 20px;
      }
      
      .create-game-form form {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
      .create-game-form label {
        margin-bottom: 10px;
      }
      
      .create-game-form input,
      .create-game-form select {
        padding: 8px;
        margin-bottom: 15px;
        width: 100%;
      }
      
      .create-game-form button {
        padding: 10px 20px;
        background-color: #333;
        color: #fff;
        border: none;
        cursor: pointer;
        width: 100%;
      }

    }