<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title><%= title %></title>
		<link rel="stylesheet" href="../css/app.css">
		<link rel="stylesheet" href="../css/auth.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@00;400;500;600;700&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="style.css">
	  </head>
	<body>
		<h1> Home Page (Unauthenticated)</h1>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/authentication/login">Login</a></li>
			<li><a href="/authentication/register">Register</a></li>
			<li><a href="/lobby">Lobby</a></li>
			<li><a href="/games/42">Game (42)</a></li>
		</ul>
		<img class="rules__header-bg" src="..\images\header-bg.jpg">
	</body>
</html>
